* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}    
    
.container {
    display: flex;
    width: 60%;
    height: 60%;
    margin: 50px auto;
    background-color: #f4f4f4;
    padding: 20px;
    gap: 10px;
}
.container > div{
    width: 300px;
}

.item1 {
    background-color: lightblue;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    align-self: center;
}

.item2 {  
    background-color: lightcoral;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

.item3 {
    background-color: lightblue;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    align-self: center;
}
 