* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}    
    
.container {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 60%;
    height: 60%;
    margin: 50px auto;
    background-color: #f4f4f4;
    padding: 20px;
    gap: 10px;
}
.container > div{
    text-align: center;
    padding: 20px;
    font-size: 20px;
    align-self: center;
    background-color: lightblue;
}

.item1-4{
        grid-column: span 2; /* Occupa 2 colonne */
        background-color: lightcoral;
}
