$primary-color: #ff0000;
$secondary-color: #333;
$font-size: 18px;
$first-div-ratio: 1fr;
$second-div-ratio: 3fr;

@mixin theme($mode) {
    @if $mode == light {
      background-color: grey;
      a {
        color: white;
        &:hover {
          color: $primary-color;
        }
      }
    } @else if $mode == dark {
      background-color: #000000;
      a {
        color: white;
        &:hover {
          color: yellow;
        }
      }
    }
  }
  .light-theme {
    @include theme(light); // Tema chiaro
}

.dark-theme {
    @include theme(dark); // Tema scuro
}
  
  nav {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: center;
      gap: 10px;
      li {
        text-align: center;
        a {
          text-decoration: none;
          color: black;
          font-size: $font-size;
          &:hover {
            color: $primary-color;
          }
        }
      }
    }
  }
  
.box {
  display: grid;
  grid-template-columns: $first-div-ratio $second-div-ratio; 
  gap: 20px;
  width: 80%;
  margin: auto;
  padding: 20px;

}


.container_1 {
  background-color: #f1c40f;
}

.container_2 {
  background-color: #3498db;

}