.container {
    display: flex;
    gap: 20px;    
}

.rettangolo {
    width: 200px;
    height: 100px;
    background-color: blue;
}

.quadrato {
    width: 100px;
    height: 100px;
    background-color: red;
}

.cerchio {
    width: 100px;
    height: 100px;
    background-color: green;
    border-radius: 50%;
}