* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}    
    
.container {
    display: flex;
    width: 60%;
    margin: 50px auto;
    background-color: #f4f4f4;
    padding: 20px;
    gap: 10px;
}
.container > div{
    width: 300px;
}

.item {
    flex-shrink: 1;
    background-color: lightblue;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

.item-small {
    flex-shrink: 2;  /*si ridurrà più degli altri quando il contenitore si restringe.*/
    background-color: lightcoral;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

 