$primary-color: #ff0000;
$font-size: 18px;
%bg-gray {
    background-color: #e7e7e7;
  }
nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    li {
      &:last-child {
        @extend %bg-gray;
        border-color: #333333;
      }
      a {
        text-decoration: none;
        color: black;
        font-size: $font-size;
        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}
 
 

