 .div1{
    width: 80%;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    line-height: 1.6;
 }
 
img{
    width: 500px;
    height: 350px;
    float: right;
}
 
.div2{
    width: 80%;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    clear: both;
}

 
 