.header {
    background-color: #8FD8D4;
    text-align: center;
    padding: 20px;
}

.topnav {
    overflow: hidden;
    background-color: #708fbe;

}

.topnav a {
    float: left;
    text-align: center;
    text-decoration: none;
    padding: 20px 22px;
    display: block;
    color: #f2f2f2;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.col {
    width: 100%;
  }
  
  .col_left {
    margin-left: 10px;
    width: 20%;
    display: inline-block;
    text-align: center;
    height: 300px;
  }
  .col_right {
    width: 20%;
    display: inline-block;
    text-align: center;
  }
  
  .col_middle {
    width: 55%;
    display: inline-block;
    text-align: center;
  }

.footer{
    background-color: #8FD8D4;
    padding: 10px;
    text-align: center;
}