.container {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: aqua;
    display: flex;
    width: 800px;
    height: 400px;
    justify-content: center;
    gap: 20px;
    
}
.container > div{
    background-color: beige;
    width: 200px;
}
.item1{
     
  
}
.item2{
 
   
}
.item3{
    
     
}

 