* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: aquamarine;
}
img{
    width:500px;
    height:350px
}
@media screen and (max-width: 768px) {
    body {
        background-color: blue;
    }
}